<style>
	.parallax-window {
	    min-height: 350px;
	    background: transparent;
	}
	#subheader {
		text-align: center;
		height: 350px;
	}
	/*NAVBAR TOP*/
	#m_header {
		background: transparent;
		height: 0;
	}
	.m-container.m-container--full-height {
		height: 0;
	}
	@media (min-width: 1025px) {
	   	#hrd-desktop {
			width: 0;
		}
	}
	#m_header_nav {
		box-shadow: unset;
	}
	/*----------------*/
	.m-stack__item.m-stack__item--middle.m-brand__tools {
		width: 60px;
	}
	.m-grid--desktop.m-body {
		background: #fff;
		padding-top: 0 !important;
		margin-top: 0;
	}
	.breadcrumb-custom {
		line-height: 350px;
		color: #110e49;
	}
	.breadcrumb-custom span.my-breadcrumb {
		position: relative;
		padding: 5px 15px;
		font-size: 25px;
		font-weight: bold;
		text-transform: uppercase;
		background: #7f81932e;
	}
	.breadcrumb-custom span.my-breadcrumb .line {
		position: absolute;
		top: 55px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 4px;
		width: 45px;
		background: #d91d1d;
	}
	.overlay {
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    /*background: #0000005e;*/
	    line-height: 350px;
	}
	.form-control[readonly], .form-control {
		border-color: #cccccc !important;
	}
	.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__section .m-menu__section-icon {
	    color: #9c95b2;
	}
	@media (min-width: 1025px) {
		.m-brand--minimize .m-brand {
			width: 60px;
		}
		.m-aside-left--fixed.m-aside-left--minimize .m-body {
		    -webkit-transition: width 0.2s ease;
		    transition: width 0.2s ease;
		    padding-left: 60px;
		}
		.m-aside-left--minimize .m-aside-left {
			width: 60px;
		}
		.m-aside-left--fixed.m-aside-left--minimize-hover .m-body {
			padding-left: 60px;
		}
		.m-footer--push.m-aside-left--enabled:not(.m-footer--fixed).m-aside-left--minimize .m-footer {
			margin-left: 60px;
			line-height: 45px;
		}
	}
	@media (max-width: 1025px) {
		#subheader,
		.parallax-window,
		.overlay,
		.breadcrumb-custom {
			height: 250px;
			line-height: 250px;
		}
		.parallax-window,
		.overlay {
			margin-top: 60px;
		}
		.breadcrumb-custom span.my-breadcrumb {
			font-size: 16px;
			background: #7f81938c;
		}
		.breadcrumb-custom span.my-breadcrumb .line { 
			top: 40px;
		}
		.m-footer--push.m-aside-left--enabled:not(.m-footer--fixed).m-aside-left--minimize .m-footer {
			margin-left: 0;
			line-height: 45px;
		}
	}
	/* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {
		.m-content {
			min-height: 600px !important;
		}
		#subheader,
		.parallax-window,
		.overlay,
		.breadcrumb-custom {
			height: 200px;
			line-height: 200px;
		}
		#info-shipper-consignee,
		.m-timeline-3 .m-timeline-3__item .m-timeline-3__item-desc .m-timeline-3__item-text {
			font-size: 14px !important;
		}
		#info-shipper-consignee {
		    margin-bottom: 22px !important;
		}
	}
</style>